---
http_interactions:
- request:
    method: post
    uri: https://app.aikido.dev/api/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<JWT_TOKEN>","token_type":"bearer","expires_in":3600}'
  recorded_at: Sun, 10 Mar 2024 18:58:09 GMT
- request:
    method: get
    uri: https://app.aikido.dev/api/public/v1/repositories/code?page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":336780,"name":"ruby-jwt","external_repo_id":"MDEwOlJlcG9zaXRvcnkxNTg5Njg5Mjg=","provider":"github"}]'
  recorded_at: Sun, 10 Mar 2024 18:58:09 GMT
- request:
    method: get
    uri: https://app.aikido.dev/api/public/v1/repositories/code?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Sun, 10 Mar 2024 18:58:10 GMT
recorded_with: VCR 6.2.0
