---
http_interactions:
- request:
    method: post
    uri: https://app.aikido.dev/api/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<JWT_TOKEN>","token_type":"bearer","expires_in":3600}'
  recorded_at: Sun, 10 Mar 2024 20:18:16 GMT
- request:
    method: get
    uri: https://app.aikido.dev/api/public/v1/repositories/code?page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":336780,"name":"ruby-jwt","external_repo_id":"MDEwOlJlcG9zaXRvcnkxNTg5Njg5Mjg=","provider":"github"}]'
  recorded_at: Sun, 10 Mar 2024 20:18:17 GMT
[...]
- request:
    method: get
    uri: https://app.aikido.dev/api/public/v1/issues/export
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Filename:
      - aikido_issues.json
      Content-Disposition:
      - attachment;filename="aikido_issues.json"
      Last-Modified:
      - Sun, 10 Mar 2024 20:18:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3592608,"group_id":581703,"attack_surface":"backend","status":"open","severity":"medium","severity_score":60,"type":"leaked_secret","rule":null,"affected_package":null,"cve_id":null,"affected_file":".travis.yml","first_detected_at":1710066491,"code_repo_id":336780,"code_repo_name":"ruby-jwt","container_repo_id":null,"container_repo_name":null,"cloud_id":null,"cloud_name":null,"ignored_at":null,"closed_at":null,"sla_days":null,"sla_remediate_by":null},{"id":3592572,"group_id":581699,"attack_surface":"backend","status":"open","severity":"low","severity_score":27,"type":"leaked_secret","rule":null,"affected_package":null,"cve_id":null,"affected_file":"README.md","first_detected_at":1710066490,"code_repo_id":336780,"code_repo_name":"ruby-jwt","container_repo_id":null,"container_repo_name":null,"cloud_id":null,"cloud_name":null,"ignored_at":null,"closed_at":null,"sla_days":null,"sla_remediate_by":null},{"id":3592571,"group_id":581699,"attac[...]
