---
http_interactions:
- request:
    method: post
    uri: https://app.aikido.dev/api/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<JWT_TOKEN>","token_type":"bearer","expires_in":3600}'
  recorded_at: Sun, 10 Mar 2024 19:16:53 GMT
- request:
    method: get
    uri: https://app.aikido.dev/api/public/v1/open-issue-groups?page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":581703,"type":"leaked_secret","title":"Secret leaked in .travis.yml","description":"in
        .travis.yml","severity_score":60,"severity":"medium","group_status":"new","time_to_fix_minutes":60,"locations":[{"id":336780,"name":"ruby-jwt","type":"code_repository"}]},{"id":581700,"type":"leaked_secret","title":"Secret
        leaked in spec\/integration\/readme_examples_spec.rb","description":"in readme_examples_spec.rb","severity_score":27,"severity":"low","group_status":"new","time_to_fix_minutes":60,"locations":[{"id":336780,"name":"ruby-jwt","type":"code_repository"}]},{"id":581699,"type":"leaked_secret","title":"Secret
        leaked in README.md","description":"in README.md","severity_score":27,"severity":"low","g[...]
